body{
	margin: 0;
	padding:0;
	font-family: montserrat;
	background: floralwhite;
	height: 100vh;
	overflow: hidden;
	background: linear-gradient(120deg,#9fdfed ,#185c6b);
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 600px;
	height: 700px;
	border-radius: 10px;
	background:whitesmoke;
}

.center form{
	padding: 0 50px;
	box-sizing: border-box;

}

.center h2{
	text-align: center;
	padding: 0 20px;
	font-family: inherit;
}

.center form{
	padding: 0 30px 0 30px;
	box-sizing: border-box;
}

form .txt_field{
	position: relative; 
	margin: 50px 0 50px 10px ;
}

.txt_field input{
	width: 70%;
	padding: 0 7px;
	height: 30px;
	font-size: 14px;
	border-width: 5%;
	border-top: none;
	border-right: none;
	border-left: none;
	border-color: silver;
}


.txt_field label{
	position: absolute;
	bottom: 30px;
	font-family: inherit;
	font-size: 18px;
}


button[type="submit"]{

	width: 70%;
	height: 50px;
	border: 1px solid;
	background:#185c6b;
	border-radius: 25px;
	font-size: 18px;
	color: #e9f4fb;
	font-weight: 700;
	cursor: pointer;
	outline: none;
}

.link{
	margin: 10px 10px 40px 0;
	color: #2691d9;
	text-align: center;
	font-size: 20px;
	color: #666666;

}

.link a{
	color:#185c6b ;
	text-decoration: none;

}

.link a:hover{
	text-decoration: underline;
}
